.header{
 font-family: Arial, Helvetica, sans-serif;  
 margin: 0 auto;
 padding: 30px;
 text-align: center;
 background-color: gray;
 font-size: 25px;
}

.recipes li{
 font-size: 30px;
 margin: 20px;
 padding: 10px;
 font-family: Papyrus, Tahoma, Times New Roman;   
 background-color: peachpuff;
}